html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
@font-face {
    font-family: 'Metric';
    src: url('../fonts/MetricWeb-Light.eot');
    src: url('../fonts/MetricWeb-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetricWeb-Light.woff2') format('woff2'),
         url('../fonts/MetricWeb-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metric';
    src: url('../fonts/MetricWeb-LightItalic.eot');
    src: url('../fonts/MetricWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetricWeb-LightItalic.woff2') format('woff2'),
         url('../fonts/MetricWeb-LightItalic.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'Metric';
    src: url('../fonts/MetricWeb-Regular.eot');
    src: url('../fonts/MetricWeb-Regular.eot?#iefix') format('embedded-opentype'),
    		 url('../fonts/MetricWeb-Regular.woff2') format('woff2'),
         url('../fonts/MetricWeb-Regular.woff') format('woff');
    font-weight: bold;
}
body {
  font-family: "Metric", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #000000;
}
a {
  color: #00aa44;
}
a:hover,
a:focus {
  color: #007722;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Metric", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/inconsolata-webfont.eot');
    src: url('../fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inconsolata-webfont.woff') format('woff'),
         url('../fonts/inconsolata-webfont.ttf') format('truetype'),
         url('../fonts/inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
code,
pre {
  font-family: "Inconsolata", Monaco, Menlo, Consolas, "Courier New", monospace;
}
.bibtex {
	font-size: 10px;
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #007722;
}
.navbar .nav > li {
  color: #000000;
}
.navbar-brand {
  font-size: 20px;
  color: #000000 !important;
  font-weight: bold;
}
small {
  font-size: 70%;
}

.papers-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* all links */
.papers-sidebar .nav>li>a {
  color: #000;
  padding: 4px 20px;
  font-size: 16px;
}

/* hover links */
.papers-sidebar .nav>li>a:hover, 
.papers-sidebar .nav>li>a:focus {
	padding-left: 19px;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #00aa44;
}

/* active links */
.papers-sidebar .nav>.active:focus>a, 
.papers-sidebar .nav>.active:hover>a, 
.papers-sidebar .nav>.active>a {
	padding-left: 18px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  border-left: 2px solid #00aa44;
}

/* nested submenu */
.papers-sidebar .nav .nav {
	display: none;
  padding-bottom: 10px;
}

/* nested links */
.papers-sidebar .nav .nav>li>a {
  color: #999;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* nested hover links */
.papers-sidebar .nav .nav>li>a:focus,
.papers-sidebar .nav .nav>li>a:hover {
	color: #000;
  padding-left: 29px;
}

/* nested active links */
.papers-sidebar .nav .nav>.active:focus>a,
.papers-sidebar .nav .nav>.active:hover>a,
.papers-sidebar .nav .nav>.active>a {
	color: #000;
  padding-left: 28px;
}


/* hide inactive nested list */
.papers-sidebar .nav ul.nav {
  display: none;
}

/* show active nested list */
.papers-sidebar .nav>.active>ul.nav {
  display: block;
}

.tud-logo {
  max-height: 35px;
  margin-top: -5px;
}