<footer class="footer">
	<div class="container">
		<hr>
		<p class="text-center muted credit"><small>
			{% if page.lang == 'en' %}
				The website's source code is <a href="https://github.com/kenohori/my-website">here</a>.<br />
				Except where otherwise noted, content on this site is released into the <a href="http://creativecommons.org/publicdomain/zero/1.0/">public domain (CC0)</a>. Any attribution is appreciated but it is not required. 
			{% else %}
				El c&oacute;digo fuente del sitio est&aacute; <a href="https://github.com/kenohori/my-website">aqu&iacute;</a>.<br />
				Con excepci&oacute;n de donde se especifique lo contrario, el contenido en este sitio est&aacute; liberado al <a href="http://creativecommons.org/publicdomain/zero/1.0/">dominio p&uacute;blico (CC0)</a>. Cualquier atribuci&oacute;n es apreciada pero no obligatoria.
			{% endif %}
		</small></p>
	</div>
</footer>
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>