<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="Ken Arroyo Ohori">
    <meta name="keywords" content="Gustavo Adolfo Ken Arroyo Ohori">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ken Arroyo Ohori">
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/ken.css" rel="stylesheet">
</head>