<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="Ken Arroyo Ohori">
  <meta name="keywords" content="Gustavo Adolfo Ken Arroyo Ohori">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Ken Arroyo Ohori">
  <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/bigfoot-number.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/academicons.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/ken.css" rel="stylesheet">
  {% if page.feijoa == true %}
    <link href="{{ site.baseurl }}/css/feijoa.css" rel="stylesheet">
  {% endif %}
  <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet">
  {% if page.mapbox == true %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
    <style>
      .marker {
          display: block;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          padding: 0;
      }
      </style>
  {% endif %}
  {% if page.mathjax == true %}
    <script type="text/javascript" src="{{ site.baseurl }}/MathJax/MathJax.js?config=TeX-AMS_CHTML"></script>
  {% endif %}
</head>