---
layout: default
title: Blog
file: blog/index.html
lang: en
---

<div class="container">
	<h1>Blog posts</h1>
	<table>
	{% for post in site.posts %}
		{% if post.lang == page.lang %}
		<tr>
		  <td style="padding: 2px;">{{ post.date | date_to_string }}</td>
		  <td style="padding: 2px;"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
	  </tr>
	  {% endif %}
	{% endfor %}
	</table>
	<span class="grey"><a href="{{ site.baseurl }}/{{ page.lang }}/feed.xml"><i class="fa fa-rss"></i> RSS</a>
</div>