---
layout: default
title: Blog
file: blog/index.html
lang: en
gsap: true
---

<div class="container">
	<h1 data-hero>Blog posts</h1>
	<ul class="blog-list">
	{% for post in site.posts %}
		{% if post.lang == page.lang %}
		<li data-animate>
		  <span class="blog-date">{{ post.date | date_to_string }}</span>
		  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	  </li>
	  {% endif %}
	{% endfor %}
	</ul>
	<span class="grey"><a href="{{ site.baseurl }}/{{ page.lang }}/feed.xml"><i class="fa-solid fa-rss"></i> RSS</a></span>
</div>